@tailwind base;
@tailwind utilities;

body {
  font-family: 'Cabin', sans-serif;
  font-size: 1.2rem;
}

.uncontrolled input {
  width: 24rem;
  background-color: rgb(207 250 254);
  color: rgb(21 94 117);
  padding: 0 0.5rem;
}

.uncontrolled input[type='radio'],
.uncontrolled input[type='checkbox'] {
  width: auto;
  background-color: rgb(207 250 254);
  color: rgb(21 94 117);
}

.hook input {
  width: 24rem;
  background-color: rgb(236 254 255);
  color: rgb(131 24 67);
  padding: 0 0.5rem;
}

.hook input[type='radio'],
.hook input[type='checkbox'] {
  width: auto;
  background-color: rgb(236 254 255);
  color: rgb(131 24 67);
}

input:focus {
  outline: none;
}

fieldset {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 75%;
}

p {
  height: 1.5rem;
  font-size: 0.8rem;
  color: rgb(187, 9, 9);
}

label {
  color: rgb(236 254 255);
  font-weight: bold;
}

li {
  color: rgb(134 25 143);
  font-weight: bold;
}
span {
  color: rgb(253 244 255);
}
